black
datasets==2.16.0
git+https://github.com/huggingface/peft
matplotlib==3.4.3
mypy
numpy==1.23.5
pre-commit
pytest
pytest-cov
pyyaml
ruff
scikit-learn==1.2.2
toml
torch==1.13.1
torchvision==0.14.1
tqdm==4.65.0
types-PyYAML
types-requests
